#tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
*{
margin:0px;
padding:0px;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
[class*="prism"] .ft, [class*="prism"] .bk {
  width: 100%;
  height: 100%;
}
[class*="prism"] .bk {
  left: 100%;
}
[class*="prism"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt {
  left: 100%;
}
[class*="prism"] .bm {
  top: 100%;
}
[class*="prism"] .rt .face {
  left: -100%;
  transform-origin: 100% 0;
}
[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(0.5625em, 0em, 0.6875em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:16.125em;
  height:6.75em;
  margin:-3.375em 0 0 -8.0625em;
}
.cub-1 .ft {
  transform:translateZ(6.25em);
}
.cub-1 .bk {
  transform:translateZ(-6.25em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:12.5em;
  height:6.75em;
}
.cub-1 .tp, .cub-1 .bm {
  width:16.125em;
  height:12.5em;
}
.cub-1 .face {
  background-color:#FFFFFF;
}
/* .pri-1 styles */
.pri-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-1 .rt .face {
  transform:rotateZ(-30.963756532073536deg);
}
.pri-1 .lt .face {
  transform:rotateZ(30.963756532073536deg);
}
.pri-1 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
.pri-1 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.pri-1 .rt, .pri-1 .lt {
  width:3em;
  height:5em;
}
.pri-1 .rt .face, .pri-1 .lt .face {
  height:5.830951894845301em;
}
.pri-1 .bm {
  width:4em;
  height:3em;
}
.pri-1 .face {
  background-color:#FFFFFF;
}
/* .pri-2 styles */
.pri-2 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.pri-2 .rt .face {
  transform:rotateZ(-30.963756532073536deg);
}
.pri-2 .lt .face {
  transform:rotateZ(30.963756532073536deg);
}
.pri-2 .ft {
  height:5.830951894845301em;
  transform:translateZ(-1.5em) rotateX(30.963756532073536deg);
}
.pri-2 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.pri-2 .rt, .pri-2 .lt {
  width:3em;
  height:5em;
}
.pri-2 .rt .face, .pri-2 .lt .face {
  height:5.830951894845301em;
}
.pri-2 .bm {
  width:4em;
  height:3em;
}
.pri-2 .face {
  background-color:#FFFFFF;
}
/* .pri-3 styles */
.pri-3 {
  transform:translate3D(10.5em, 0.75em, -0.125em) rotateX(0deg) rotateY(80.4deg) rotateZ(0deg);
  opacity:1;
  width:14.71174457072216em;
  height:5em;
  margin:-2.5em 0 0 -7.35587228536108em;
}
.pri-3 .rt .face {
  transform:rotateZ(-61.92921028232721deg);
}
.pri-3 .lt .face {
  transform:rotateZ(61.92921028232721deg);
}
.pri-3 .ft {
  height:10.625590164125288em;
  transform:translateZ(-4.68783442369598em) rotateX(61.92921028232721deg);
}
.pri-3 .bk {
  transform:translateZ(-4.68783442369598em) rotateY(180deg);
}
.pri-3 .rt, .pri-3 .lt {
  width:9.37566884739196em;
  height:5em;
}
.pri-3 .rt .face, .pri-3 .lt .face {
  height:10.625590164125288em;
}
.pri-3 .bm {
  width:14.71174457072216em;
  height:9.37566884739196em;
}
.pri-3 .face {
  background-color:#FFFFFF;
}
/* .cyl-1 styles */
.cyl-1 {
  transform:translate3D(-4.458332759362662em, 3.75em, 4.70138970385365em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:5.625em;
  height:1.375em;
  margin:-0.6875em 0 0 -2.8125em;
}
.cyl-1 .tp, .cyl-1 .bm {
  width:5.625em;
  height:5.625em;
}
.cyl-1 .side {
  width:1.3088695434445934em;
  height:1.375em;
}
.cyl-1 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-1 .face, .cyl-1 .side {
  background-color:#FFFFFF;
}
/* .cyl-2 styles */
.cyl-2 {
  transform:translate3D(6.229167240637338em, 3.875em, 4.26388970385365em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:6em;
  height:1.375em;
  margin:-0.6875em 0 0 -3em;
}
.cyl-2 .tp, .cyl-2 .bm {
  width:6em;
  height:6em;
}
.cyl-2 .side {
  width:1.3944608463408996em;
  height:1.375em;
}
.cyl-2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 2.975em);
}
.cyl-2 .face, .cyl-2 .side {
  background-color:#FFFFFF;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(-3.75em, -1em, 6.8125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2.625em;
  height:2.625em;
  margin:-1.3125em 0 0 -1.3125em;
}
.cub-2 .ft {
  transform:translateZ(1.6875em);
}
.cub-2 .bk {
  transform:translateZ(-1.6875em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:3.375em;
  height:2.625em;
}
.cub-2 .tp, .cub-2 .bm {
  width:2.625em;
  height:3.375em;
}
.cub-2 .face {
  background-color:#FFFFFF;
}
/* .cub-3 styles */
.cub-3 {
  transform:translate3D(2.4375em, -1em, 7em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:2.625em;
  height:2.625em;
  margin:-1.3125em 0 0 -1.3125em;
}
.cub-3 .ft {
  transform:translateZ(1.6875em);
}
.cub-3 .bk {
  transform:translateZ(-1.6875em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
  width:3.375em;
  height:2.625em;
}
.cub-3 .tp, .cub-3 .bm {
  width:2.625em;
  height:3.375em;
}
.cub-3 .face {
  background-color:#FFFFFF;
}
/* .cyl-3 styles */
.cyl-3 {
  transform:translate3D(3.229167240637338em, 3.125em, 2.95138970385365em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:6em;
  height:1.375em;
  margin:-0.6875em 0 0 -3em;
}
.cyl-3 .tp, .cyl-3 .bm {
  width:6em;
  height:6em;
}
.cyl-3 .side {
  width:1.3944608463408996em;
  height:1.375em;
}
.cyl-3 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .face, .cyl-3 .side {
  background-color:#FFFFFF;
}
/* .cyl-4 styles */
.cyl-4 {
  transform:translate3D(-5.770832759362662em, 3.125em, -0.17361029614635015em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:5.625em;
  height:1.375em;
  margin:-0.6875em 0 0 -2.8125em;
}
.cyl-4 .tp, .cyl-4 .bm {
  width:5.625em;
  height:5.625em;
}
.cyl-4 .side {
  width:1.3088695434445934em;
  height:1.375em;
}
.cyl-4 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 2.7875em);
}
.cyl-4 .face, .cyl-4 .side {
  background-color:#FFFFFF;
}